<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %>: <%= @task.name %></h1>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              course_assignment_path(@course, @assignment), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_assignment_task_path(@course, @assignment, @task), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_assignment_task_path(@course, @assignment, @task),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<p><%= @task.description %>
	
