<%- model_class = Course -%>
<div class="page-header row">
		<h1>Course: <%= @course.name %></h1>
		<p class="lead"><%= @course.description %></p>
		<div class="span6">
			<%= link_to t('.back', :default => t("helpers.links.back")),
	              courses_path, :class => 'btn btn-mini'  %>
	  	<% if can? :manage, @course %>
		  	<%= link_to t('.edit', :default => t("helpers.links.edit")),
		              edit_course_path(@course), :class => 'btn btn-mini' %>
		  	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              course_path(@course),
		              :method => 'delete',
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-danger btn-mini' %>
	    <% end %>	
    </div>
    <div class="span3">
    	<% if @course.enrolled(current_user) %>
          	<%= link_to 'Drop Course', enrollment_path(Enrollment.where(:course_id => @course.id).first.id), :class => 'btn btn-danger pull-right', :method => :delete %>
          <% else %>
          	<%= link_to 'Enroll', course_enrollment_path(@course), :class => 'btn btn-primary pull-right', :method => :post %>
          <% end %>
    </div>
</div>
<h2>Course Outline</h2>
<div class="well">
	<% @course.outlines.sort_by {|obj| obj.order_number}.each do |outline| %>
		<% model = outline.content_type.camelize.constantize %>
		<% content = model.where(:id => outline.content_id).first %>
		<div class="<%= model.model_name.human.downcase %>">
			<hr>
			<span class="<%= model.model_name.human.downcase %>">
				<% if outline.content_type == 'Assignment' %>
					<span class="badge badge-info" style="font-weight: normal"><%= model %></span>
				<% end %>
				<%= content.name %>
			</span>
			<p><%= content.description %></p>
			<% if outline.content_type == 'Assignment' && @course.enrolled(current_user) %>
				<% homework = content.user_homework(current_user) %>
				<% if homework.completed == true %>
				<a class="btn btn-mini disabled"><i class="icon-ok"></i> Completed</a>
				<% else %>
					<%= link_to 'Mark as complete', complete_homework_path(homework), :class => 'btn btn-mini btn-primary', :id => "hw-#{homework.id}", :method => :put, :remote => true %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>