<h1>Listing study_plans</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Due date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @study_plans.each do |study_plan| %>
  <tr>
    <td><%= study_plan.name %></td>
    <td><%= study_plan.due_date %></td>
    <td><%= link_to 'Show', study_plan %></td>
    <td><%= link_to 'Edit', edit_study_plan_path(study_plan) %></td>
    <td><%= link_to 'Destroy', study_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Study plan', new_study_plan_path %>
