<%- model_class = StudyPlan -%>

<%= form_tag study_plans_path , method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], :id => 'study-plan-search', :placeholder => 'search study plans' %>
  </p>
<% end %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:due_date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="study-plans">
		<%= render @study_plans %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_study_plan_path,
            :class => 'btn btn-primary' %>
