<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>

<p><%= link_to 'Courses', courses_path %> | <%= link_to 'Study Plans', study_plans_path %> | <%= link_to 'Assignments', assignments_path %> <p>

</div>
<%= yield %>

</body>
</html>
